.parentLoginpageConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.loginpageContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}